
body {
background-image: url("Images/checklist.jpg");

background-repeat: no-repeat;
background-size:100%;
width: 100%;

}
.para{
    text-align: center;
    text-decoration: underline;
    font-size: xx-large;

}
#error{
    color: red;
    font-size: large;
    
}

.setmargin{
    margin: 0px -11px 9px 14px;

}
.maincontainer{

margin-top: 15%;

}
.decorate{
text-shadow: 2px 2px 2px;
}

ol{

font-size: large;
border-radius: 7px 27px;
background-color:green;


}
li{    
background-color:green;
border-radius: 7px 27px;
    word-wrap: break-word;
    font-size: x-large;
    font-family: -webkit-pictograph;
    font-weight: 900;
    font-style: italic;
    color: bisque;
    margin-bottom: 19px;
    width: 98%;
    height: 43px;
    margin-top: 2px;
}
 
 img:hover
 {
    width: 50px;
border-radius: 4px 2px 6px 6px;

 }
img{
float:right;
cursor: pointer;
width:4%;

}